@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #eeeeee;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style-type: none;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: rgba(51, 50, 50, 0.747);
}
