body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
  border-top: 18px solid white;
  margin: 8px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  text-align: center;
  padding: 18px;
  border-bottom: 8px solid white;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 21px;
  margin: 0 auto;
}
